# build output lives in dist/, so ignore everything else that shouldn't ship
*
!.npmignore
!.yarnrc.yml
!package.json
!README.md
!LICENSE
!dist/**
!dist-types/**

# Node/Yarn metadata
node_modules/
.pnp.*
.yarn/
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Source & dev content
src/
dev/
coverage/
*.log
*.tgz

# Tooling config and misc files
.github/
.husky/
.eslintrc.js
.prettierignore
.releaserc.yml
commitlint.config.js
tsconfig.json
yarn.lock
